/* (768px is Bootstrap’s `md` breakpoint) */

/* MOBILE */
.person-section {
  max-height: 33%;
}

/* DESKTOP */
@media (min-width: 768px) {
  .person-section {
    max-height: 100%;
    flex: 1;
  }
}

.loading-spinner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.loading-content {
  pointer-events: none;
  opacity: 0.5;
}
